# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ user-specific stuff
.idea
*.iml

# Compiled class file
*.class

.DS_Store
